<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page.title %></title>

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link href="https://res.cloudinary.com/finnhvman/raw/upload/matter/matter-0.2.2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/loaders.min.css">
    <script src="https://unpkg.com/@barba/core"></script>

</head>

<body>
    <div id="wrap">
        <!-- <input type="checkbox" class="menuShow" name="" id="menuShow" > -->

        <nav id="left-menu">
            <%include ./areas/left-menu%>
        </nav>
        <main id="main" data-barba="wrapper">
            <div class="pjax-wapper" data-barba="container" data-barba-namespace="demo-1">


                <div id="menu">
                    <select name="" id="">
                        <option value="">配信別</option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <select name="" id="">
                        <option value="">配信日順</option>
                        <option value="">配信日順</option>
                        <option value="">ボイス数順</option>
                        <option value="">ボイス数順</option>
                        <option value="">歌数順</option>
                        <option value="">歌数順</option>
                        <option value="">しりーゆー数順</option>
                        <option value="">しりーゆー数順</option>
                    </select>
                    <select name="" id="">
                        <option value="">絞り込み</option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <select name="" id="">
                        <option value="">表示</option>
                        <option value="">サムネイル</option>
                        <option value="">一覧</option>
                    </select>
                </div>
                <div id="content">
                    <h2><%= page.title %> (<%= page.contentLength %>) - 配信別</h2>
                    <%-include("areas/" + page.areaType, value)%>
                </div>
            </div>
        </main>
    </div>

    <script>
        //HACK: 遷移アニメーション、遷移条件などみなおす

        function CurrentPageLinkDel() {
            let elems = document.querySelectorAll("a");
            for (item of elems) {
                if (item.href == window.location.href) {
                    item.addEventListener("click", function (e) {
                        e.preventDefault();
                        
                    });
                }
                console.log("CANCEL");
            }
        }
        CurrentPageLinkDel();

        function leaveAnimation(current) {
            const animation = anime.timeline()
                .add({
                    easing: 'easeInOutCubic',
                    targets: current.container.querySelector('#content > section') || current.container
                        .querySelector('#content'),
                    duration: 300,
                    opacity: [1, 0],
                    // scale            : [1, 0.95]
                }, '-=300');
            return animation.finished;
        }

        function enterAnimation(current) {
            const animation = anime.timeline()

                .add({
                    easing: 'easeInOutCubic',
                    targets: current.container.querySelector('#content > section') || current.container
                        .querySelector('#content'),
                    duration: 600,
                    opacity: [0, 1],
                    // scale            : [0.95, 1]
                }, '-=300');
            return animation.finished;
        }



        barba.init({
            prefetchIgnore: true,
            preventRunning: true,
            cacheIgnore: false,
            transitions: [{
                async leave({
                    current,
                    next,
                    trigger
                }) {
                    //ページを離れる時のアニメーション
                    await leaveAnimation(current);
                    // return leave;
                },
                enter({
                    current,
                    next,
                    trigger
                }) {
                    //ページを表示する時のアニメーション
                    enterAnimation(next);
                    if (CurrentPageLinkDel) CurrentPageLinkDel();
                }
            }],
            preventRunning: false,
            requestError: (trigger, action, url, response) => {
                
            },
        });
    </script>

</body>

</html>