
                <div id="youtube-wrap">
                    <div id="youtube-player">
    
                    </div>
                    <div id="player-controler">
                        <span class="button play"><i class="material-icons">play_circle_filled</i></span>
                        <span class="button pause"><i class="material-icons">pause_circle_filled</i></span>
                        <span class="button stop"><i class="material-icons">stop</i></span>
                        <label class="pure-material-slider">
                            <input type="range" min="0" max="100">
                        </label>
                    </div>
                </div>
                <div id="left-menus-wrap">
                    <h3>コンテンツ</h3>
                    <div id="content-nav">
                        <ul>
                            <li><a href="/">すべて</a>
                                <ul>
                                    <li><a href="/song">歌</a></li>
                                    <li><a href="/voice">音声</a></li>
                                </ul>
                            </li>
                            <li><a href="/archives">配信一覧</a></li>
                            <li><a href="/resiyou">りしーゆー</a></li>
                        </ul>
                    </div>
    
                    <div id="mydata">
                        <h3>プレイリスト</h3>
                        <div id="playlist">
                            <ul>
                                <li><span class="playlist-link"><a href="/playlist">プレイリストのテキスト</a></span></li>
                                <li><span class="playlist-link"><a href="/playlist">あいうえお</a></span></li>
                                <li><span class="playlist-link"><a href="/playlist">歌</a></span></li>
                                <li><span class="playlist-link"><a href="/playlist">テキスト</a></span></li>
                                <li><span class="playlist-link"><a href="/playlist">プレイリストのテキスト</a></span></li>
                            </ul>
    
    
                            <div class="matter-button-contained  w100"><i class="material-icons">playlist_add</i>プレイリストを作成
                            </div>
                        </div>
                    </div>
                </div>
    
                <h1>IchikaButton</h1>